@import "core/variables";
@import "core/mixins";

$colorBase: #099d8d;

.formContainer {
  @include centerColumn;

  &__title {
    text-align: center;
    margin: 0;
    @include bigTitle;
  }

  &__text {
    width: 90%;
    text-align: center;
    @include text;

    &--small {
      font-size: 0.8rem;
      margin-bottom: 1.5rem;
    }
  }
}

.asterisk {
  color: aqua;
}

.form {
  /*@include centerColumn;*/
  display: block;
  width: 90%;

  &__label {
    display: block;
    margin: 0.8125rem 0;
    width: 100%;
    font-family: $fontFamilyText;
  }

  &__input {
    width: 100%;
  }

  &__textarea {
    width: 100%;
    min-height: 6.5rem;
    margin: 0.8125rem 0;
  }
  &__button {
    width: 290px;
    height: 45px;
    border-radius: 4px;
    background-color: $colorBase;
    text-transform: uppercase;
    color: white;
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .form__button {
    width: 30vw;
    float: right;
  }
}

@media all and (min-width: 1200px) {
  .formContainer {
    width: 80%;

    &__title {
      width: 80%;
    }

    &__text {
      width: 80%;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    min-width: 700px;

    &__name {
      min-width: 700px;
    }

    &__emailPhone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 700px;
    }

    &__email {
      width: 60%;
    }

    &__phone {
      width: 30%;
    }

    &__message {
      min-width: 700px;
    }

    &__button {
      align-self: flex-end;
      margin-bottom: 2rem;
    }
  }
}
