@import "core/variables";
@import "core/mixins";

$colorBase: #099d8d;

.formContainer {
  @include centerColumn;
  width: 290px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin: 0;
    @include bigTitle;
  }

  &__text {
    width: 100%;
    text-align: center;
    @include text;
    margin-bottom: 1.5rem;

    &--small {
      font-size: 0.75rem;
      color: $fontTextColor;
      margin-bottom: 1.5rem;
      font-family: $fontFamilyText;
      text-align: center;
    }
  }
}

.asterisk {
  color: aqua;
}

.form {
  /*@include centerColumn;*/
  display: block;
  width: 18.13rem;

  &__label {
    display: block;
    margin: 0.8125rem 0;
    width: 100%;
    font-family: $fontFamilyText;
    color: $fontTextColor;
  }

  &__input {
    width: 100%;
    font-family: $fontFamilyText;
    color: $fontTextColor;
    height: 2.13rem;
  }

  &__textarea {
    width: 100%;
    min-height: 6.5rem;
    margin: 0.8125rem 0;
    font-family: $fontFamilyText;
    color: $fontTextColor;
  }
  &__button {
    width: 290px;
    height: 45px;
    border-radius: 4px;
    background-color: $colorBase;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-family: $fontFamilyText;
    margin-bottom: 1rem;
  }
}

@media all and (min-width: 768px) {
  .formContainer {
    width: 442px;
    margin: 0 auto;
  }

  .form {
    width: 100%;
  }

  .form__button {
    width: 30vw;
    float: right;
  }
}

@media all and (min-width: 1200px) {
  .formContainer {
    width: 601px;
    margin: 0 auto;

    &__title {
      width: 100%;
    }

    &__text {
      width: 100%;
    }
  }

  .form {
    width: 100%;

    &__name {
    }

    &__emailPhone {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__email {
      width: 60%;
    }

    &__phone {
      width: 30%;
    }

    &__message {
      min-width: 100%;
    }

    &__button {
      align-self: flex-end;
      margin-bottom: 2rem;
    }
  }
}
