
      <article class="adalabers-item">
        <div class="img-container">
          <img class="adalaber-img" src="@@img" alt="Primer plano de la adalaber Noelia Luque"
            title="Noelia Luque">
        </div>

        <div class="information-container">
          <h3 class="adalabers-name"> @@name</h3>
          <div class="adalaber-container-text">
            <p class="adalaber-text">
              @@desc
              </p>
          </div>
         <partial src="_icons.html"></partial>
        </div>
      </article>
