
      <article class="adalabers__item">
        <div class="img__container">
          <img class="adalaber__img" src="@@img" alt="@@alt-about-us"
            title="@@title-img">
        </div>

        <div class="information__container">
          <h3 class="adalabers__name"> @@name</h3>
          <div class="adalaber__container--text">
            <p class="adalaber__text">
              @@desc
              </p>
          </div>
         <partial src="_icons.html" twitter="@@twitter" email="@@email" github="@@github" linkedin="@@linkedin" ></partial>
        </div>
      </article>
