<!-- empieza codigo Isa -->
<footer class="footer">
  <p class="footer-copy">
    coding nassi &copy; 2019
  </p>

  <nav class="footer-menu">
    <ul class="footer-menu-ul">
      <li class="footer-menu-li">
        <a class="footer-link-team" href="#team">equipo</a>
      </li>
      <li class="footer-menu-li">
        <a class="footer-link-about-us" href="#about-us">quiénes somos</a>
      </li>
      <li class="footer-menu-li">
        <a class="footer-link-contact" href="contact.html">contacto</a>
      </li>
    </ul>
  </nav>
  <p class="footer-logo">
    <img class="logo-adalab" src="./assets/images/logo-adalab.png" alt="logo adalab">
  </p>
</footer>