<!-- <header class="page__header">@@label</header> -->

<!-- Aquí empieza el html de Ana -->
<header class="header">
  <h1 class="header-title">CODING NASSI</h1>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li class="header-nav-item">
        <a href="#team" class="header-nav-item-team">EQUIPO</a>
      </li>
      <li class="header-nav-item">
        <a href="#about-us" class="header-nav-item-about-us">QUIENES SOMOS</a>
      </li>
      <li class="header-nav-item">
        <a href="contact.html" class="header-nav-item-contact">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>