<!-- <header class="page__header">@@label</header> -->

<!-- Aquí empieza el html de Ana -->
<header class="header">
  <!-- <div class="header__container-animation"> -->
  <h1 class="header__title">
    <a href="./index.html#home" class="header__link"> coding n<span>a</span>ssi</a>
  </h1>
  <img class="container-nessi" src="./assets/images/nessi-astronauta.png" />

  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__listItem">
        <a href="./index.html#team" class="header__link">equipo</a>
      </li>
      <li class="header__listItem">
        <a href="./index.html#about-us" class="header__link">quienes somos</a>
      </li>
      <li class="header__listItem">
        <a href="./contact.html" class="header__link">contacto</a>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</header>
