<!-- <header class="page__header">@@label</header> -->

<!-- Aquí empieza el html de Ana -->
<header class="header">
  <h1 class="header__title">coding nassi</h1>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__listItem">
        <a href="#team" class="header__link">equipo</a>
      </li>
      <li class="header__listItem">
        <a href="#about-us" class="header__link">quienes somos</a>
      </li>
      <li class="header__listItem">
        <a href="contact.html" class="header__link">contacto</a>
      </li>
    </ul>
  </nav>
</header>