<aside class="about-us-icons">
  <ul class="aside-list">
    <li class="about-us-icons-item">
      <a href="@@twitter" target="_blank">
        <i class="fab fa-twitter">·</i>
      </a>
    </li>
    <li class="about-us-icons-item">
      <a href="@@email">
        <i class="fas fa-envelope"></i>·</i>
      </a>
    </li>
    <li class="about-us-icons-item">
      <a href="@@github" target="_blank">
        <i class="fab fa-github-alt">·</i>
      </a>
    </li>
    <li class="about-us-icons-item">
      <a href="@@linkedin" target="_blank">
        <i class="fab fa-linkedin-in">·</i>
      </a>
    </li>
  </ul>
</aside>