<aside class="aboutus__icons">
  <ul class="aboutus__icons--list">
    <li class="aboutus__icons--item">
      <a href="@@twitter" target="_blank">
        <i class="fab fa-twitter"><span class="dot">.</span></i>
      </a>
    </li>
    <li class="aboutus__icons--item">
      <a href="@@email">
        <i class="fas fa-envelope"></i><span class="dot"></span></i>
      </a>
    </li>
    <li class="aboutus__icons--item">
      <a href="@@github" target="_blank">
        <i class="fab fa-github-alt"><span class="dot"></span></i>
      </a>
    </li>
    <li class="aboutus__icons--item">
      <a href="@@linkedin" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</aside>