<aside class="about-us-icons">
  <ul class="aside-list">
    <li class="about-us-icons-item">
      <a href="https://twitter.com/NoeliaL62827037" target="_blank">
        <i class="fab fa-twitter"></i>
      </a><span class="point">·
    </li>
    <li class="about-us-icons-item">
      <a href="mailto:n.luque91@gmail.com">
        <i class="fas fa-envelope"></i>.</i>
      </a>
    </li>
    <li class="about-us-icons-item">
      <a href="https://github.com/nluque91" target="_blank">
        <i class="fab fa-github-alt">.</i>
      </a>
    </li>
    <li class="about-us-icons-item">
      <a href="https://www.linkedin.com/in/noelia-luque-54157a196/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>
</aside>