* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.header {
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Rubik';
  font-weight: 400;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}



.header-title {
  background-color: #099d8d;
  font-size: 1rem;
  font-style: normal;
  margin: 0rem;
  padding: 0.9375rem 0rem;
  top: 0rem;
  opacity: 0.90;
  line-height: 1.88;
}

.header-nav {
  background-color: #099d8d;
  opacity: 0.90;
  line-height: 2;
  font-weight: 500;
  font-size: 0.9375rem;

}

.header-nav-list {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-evenly;
  background-color: #099d8d;
  flex-wrap: wrap;
  align-items: center;
  padding: 0rem 0rem;
  margin: 0.5rem 0rem 0.4375rem;
  /* font-stretch: normal; */
}

.header-nav-item {
  display: inline;
}

.header-nav-item-team,
.header-nav-item-about-us,
.header-nav-item-contact {
  color: #ffffff;

}

.container-image-hero {
  /* border: red 3px solid; */
  box-sizing: border-box;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.image-hero {
  display: block;
  top: 0rem;
  width: 100%;
  margin: 0rem;
}

.section-hero {
  height: 1rem;
}

.container-hero {
  /* border: red 1px solid; */
  margin: 0rem 0.9375rem;
  position: relative;
  top: -2.5rem;
}

.hero-title {
  background: #ffffff;
  position: relative;
  text-align: center;
  z-index: 1;
  padding: 0.9375rem;
  /* border: red 1px solid; */
  font-family: 'OpenSans';
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0rem 0rem;
}

/* EL CONTAINER SE ENCUENTRA SÓLO EN EL HEADER.CSS */
.container {
  /* border: red 1px solid; */
  margin: 0rem 0.9375rem;
}

/* EL ANCHOR SE ENCUENTRA SÓLO EN EL HEADER.CSS */
.anchor-helper {
  display: block;
  position: relative;
  top: -105px;
  /* esto es lo que ocupa el menu en mobile */
  visibility: hidden;
}

/* AQUÍ EMPIEZAN LAS MEDIAQUERIES */


@media all and (min-width:768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #099d8d;
    opacity: 0.90;
    align-items: center;
    margin: 0rem 0rem;
  }

  .header-title {
    padding: 0.9375rem 2.8125rem;
  }

  .header-nav {
    background-color: #099d8d;
  }

  .header-nav-list {
    display: flex;
    justify-content: space-between;
    margin: 0rem 0rem;
    padding: 0rem 2.25rem;
  }

  .header-nav-item {
    padding: 0rem 0.5625rem;
  }

  .section-hero {
    height: 0rem;
  }

  .container-hero {
    /* border: red 1px solid; */
    margin: 0rem 0rem;
    position: relative;
    top: -5rem;
    display: flex;
    justify-content: flex-start;
  }

  .hero-title {
    background: #ffffff;
    position: relative;
    text-align: start;
    z-index: 1;
    padding: 0rem;
    /* border: red 1px solid; */
    font-family: 'OpenSans';
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0rem 2.8125rem;
    padding: 1rem 1rem;
    width: 350px;
    /* height: 60px; */
    opacity: 0.80;
  }

  .container-image-hero {
    /* border:blue 3px solid; */
    box-sizing: border-box;
    max-width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
  }


  .image-hero {
    display: block;
    width: 130%;
    margin: 0rem;
  }

  .anchor-helper {
    top: -60px;
    /* esto es lo que ocupa el menu en resoluciones distintas a móvil */
  }

  /* EL CONTAINER SE ENCUENTRA SÓLO EN EL HEADER.CSS */
  .container {
    /* border: red 1px solid; */
    margin: 0rem 2.813rem;


  }


  @media all and (min-width:1200px) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #099d8d;
      align-items: center;
      margin: 0rem 0rem;
    }

    .header-title {
      padding: 0.9375rem 8.875rem;
    }

    .header-nav {
      background-color: #099d8d;
    }

    .header-nav-list {
      display: flex;
      justify-content: space-between;
      margin: 0rem 0rem;
      padding: 0rem 7.9375rem;
    }

    .header-nav-item {
      padding: 0rem 0.9375rem;
    }


    .container-image-hero {
      /* border:blue 3px solid; */
      box-sizing: border-box;
      max-width: 100%;
      overflow: hidden;
      margin: 0 auto;
      padding: 0;
      position: relative;
    }

    .image-hero {
      display: block;
      width: 100%;
      margin: 0rem;
    }

    .container-hero {
      margin: 0rem 0rem;
    }

    .hero-title {
      margin: 0rem 8.875rem;
      opacity: 70%;
    }

    /* EL CONTAINER SE ENCUENTRA SÓLO EN EL HEADER.CSS */
    .container {
      /* border: red 1px solid; */
      margin: 0rem 8.688rem;
    }
  }