@import "../core/variables.scss";
@import "../core/mixins.scss";

.logo-adalab {
  height: 45px;
  width: 115.9px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  border-top: $darkColorBase 0.5px solid;
  @include footerItem;
  text-align: center;

  &__copy {
    font-size: $footerFontSize;
    color: $fontFooter;
    padding-top: 1.875rem;
  }

  &__list {
    @include textCenterColumn;
    padding-inline-start: 0px;
    padding: 1.25rem 0 1.875rem 0;
  }

  &__listItem {
    display: inline;
  }

  &__link {
    color: $fontTextColor;
  }

  &__logo {
    padding: 0 0 2.813rem 0;
  }

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    padding: 1.875rem 2.813rem 3.75rem;

    &__copy {
      text-align: start;
      padding: 0;
    }

    &__list {
      display: flex;
      align-items: flex-end;
      padding: 0;
      grid-row: span 2;
    }
    &__logo {
      text-align: start;
      padding: 0;
    }
  }
}

@media all and (min-width: 1200px) {
  .footer {
    &__copy {
      padding: 0 230px;
    }

    &__menu__ul {
      padding: 0 220px;
    }

    &__logo {
      justify-content: start;
      padding: 0 220px;
    }
  }
}
