@import "../core/variables.scss";
@import "../core/mixins.scss";

.footer {
  display: grid;
  grid-template-columns: auto;
  border-top: $darkColorBase 0.5px solid;
  @include footerItem;
  text-align: center;

  &__copy {
    font-size: $footerFontSize;
    color: $fontFooter;
    padding-top: 1.875rem;
  }

  &__list {
    @include textCenterColumn;
    padding-inline-start: 0px;
    padding: 1.25rem 0 1.875rem 0;
  }

  &__listItem {
    display: inline;
  }

  &__link {
    color: $fontTextColor;
    text-decoration: none;
    color: $colorBase;
    padding: 0.2rem;
    transition: all ease 1s;

    &:hover {
      background-color: $colorBase;
      color: white;
    }
  }

  &__logo {
    padding: 0 0 2.813rem 0;
  }

  @media all and (min-width: 768px) {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1.875rem 2.813rem 3.75rem;

    &__copy {
      text-align: start;
      padding: 0;
    }

    &__menu {
      grid-area: 1 / 2 / 3 / 2; // As the short-shorthand for grid-row-start + grid-column-start + grid-row-end + grid-column-end:
    }

    &__list {
      height: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: end;
    }

    &__logo {
      text-align: start;
      padding: 0;
    }

    @media all and (min-width: 1200px) {
      padding: 1.875rem 8.625rem 3.188rem;
    }
  }
}

.logo-adalab {
  height: 45px;
  width: 115.9px;
}
