@import "../core/variables.scss";
@import "../core/mixins.scss";

.footer {
  background-color: $headerFontColor;
  @include textCenterColumn;
  font-family: $fontFamilyTitle;
  text-transform: $titleTransform;
  font-weight: $mainFontWeight;

  &__copy {
    border: red 1px solid;
    font-size: $footerFontSize;
    line-height: $fontSizeAdalabersName;
    color: $fontFooter;
    // padding-top: $footerTop;
  }

  &__menu {
    border: green 2px solid;
    font-size: $footerFontSize;
    font-weight: $boldFontWeight;
    // padding-top: $fontSizeAdalabersName;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0px;
    // margin: 0;
  }

  &__listItem {
    display: inline;
  }

  &__link {
    opacity: 0.75;
    font-size: $footerFontSize;
    line-height: $fontSizeAdalabersName;
    color: $fontTextColor;
  }

  &__logo {
    border: green 2px solid;
    // margin: 0;
    padding: 30px 0 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo-adalab {
  height: 45px;
  width: 115.9px;
}

@media all and (min-width: 768px) {
  .footer {
    margin: 0;
    border: green 2px solid;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 71px;

    &__copy {
      text-align: start;
    }

    &__menu {
      width: 324px;
      height: 90px;
      padding-top: 24px;

      &__ul {
        align-items: flex-end;
      }
    }

    &__logo {
      flex-direction: column;
      padding: 0px 100px 0px 0;
      transform: translate(-10px, -40px);
    }
  }
}

@media all and (min-width: 1200px) {
  .footer {
    &__copy {
      padding: 0 230px;
    }

    &__menu__ul {
      padding: 0 220px;
    }

    &__logo {
      justify-content: start;
      padding: 0 220px;
    }
  }
}
