@import "../core/variables.scss";
@import "../core/mixins.scss";

.header {
  @include textCenterColumn;
  @include headerItem;
  background-color: $darkColorBase;
  color: $headerFontColor;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 0.9;

  &__title {
    // min-height: 7vh;
    font-size: $fontSizeText;
    margin: 0rem;
    padding: 1rem 0;
  }

  &__nav {
    background-color: $lightColorBase;
    font-size: 0.9375rem;
    padding: 0.9375rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // min-height: 6vh;
    padding-inline-start: 0;
  }

  &__listItem {
    display: inline;
    transition: all 0.5s;

    &:hover {
      font-size: 20px;
    }
  }

  &__link {
    color: $headerFontColor;
  }

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.813rem;

    &__nav {
      background-color: transparent;
    }

    &__listItem {
      padding: 0rem 0.5625rem;
    }
  }

  @media all and (min-width: 1200px) {
    padding: 0 8.875rem;
  }
}
