@import "../core/variables.scss";
@import "../core/mixins.scss";

.header {
  height: 7vh;
  width: 100vw;
  @include textCenterColumn;
  justify-content: flex-start;
  @include headerItem;
  background-color: $darkColorBase;
  color: $headerFontColor;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.9;
  transition: height ease 1s;

  &__title {
    font-size: $fontSizeText;
    margin: 0rem;
    padding: 0.6rem 0;
  }

  &__nav {
    background-color: $lightColorBase;

    font-size: 0.9375rem;
    padding: 0.9375rem 0;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0;
  }

  &__listItem {
    display: inline;
    transition: all 0.5s;

    &:hover {
      font-size: 20px;
    }
  }

  &__link {
    color: $headerFontColor;
  }

  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2.813rem;

    &__nav {
      background-color: transparent;
    }

    &__listItem {
      padding: 0rem 0.5625rem;
    }
  }

  @media all and (min-width: 1200px) {
    &__container-animation {
      padding: 0 8.875rem;
    }
  }
}

.container-nessi {
  display: none;
  position: absolute;
  top: 20%;
  left: 18rem;
  width: 10rem;
  height: 10rem;
}
.header:hover {
  height: 60vh;
  background-image: url(../images/nessi-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;

  .header__nav {
    background-color: transparent;
  }
  & img {
    display: block;
    animation-name: nessi;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
}
@keyframes nessi {
  0% {
    left: -20rem;
    top: 30%;
  }
  20% {
    left: -10rem;
    top: 20%;
  }
  40% {
    left: 0rem;
    top: 30%;
  }
  50% {
    left: 5rem;
    top: 30%;
  }
  60% {
    left: 10rem;
    top: 30%;
  }
  70% {
    left: 15rem;
    top: 30%;
  }
  80% {
    left: 18rem;
    top: 30%;
  }
  100% {
    left: 20rem;
    top: 30%;
  }
}
