@import "../core/variables.scss";
@import "../core/mixins.scss";

.hero {
  font-family: $fontFamilyText;
  font-weight: $boldFontWeight;
  font-size: 1.125rem;
  padding-bottom: 2.875rem;
  text-align: left;
  background-image: url(../images/team-coding-nassi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;

  &__title {
    position: absolute;
    bottom: 0;
    background: $headerFontColor;
    text-align: center;
    padding: 0.9375rem;
    margin: 0 0.9375rem;
    font-family: $fontFamilyText;
  }

  @media all and (min-width: 768px) {
    &__title {
      display: block;
      margin-left: 2.8125rem;
      padding: 1rem 1rem;
      width: 350px;
      opacity: 0.9;
    }
  }

  @media all and (min-width: 1200px) {
    &__title {
      margin-left: 8.875rem;
    }
  }
}

.hero-contact {
  background-image: url(../images/team-coding-nassi-contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
