@import "../core/variables.scss";
@import "../core/mixins.scss";

.strengthWeaknessSection {
  background-color: rgba(184, 184, 185, 0.2);
  margin-bottom: 0.9375rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .diamond {
    width: 1.875rem;
    height: 1.875rem;
    background: #ffffff;
    transform: rotate(45deg);
    justify-self: center;
    position: relative;
    bottom: 0.875rem;
  }
}

.swContainer {
  @include centerColumn;

  &__sw {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.9375rem;

    &__title {
      box-sizing: border-box;
      margin: 0rem;
      text-align: center;
      @include smallTitle;
      line-height: 2.813rem;
    }

    &__text {
      display: flex;
      text-align: center;
      @include text;
      line-height: 1.5rem;
    }
  }
}

@media all and (min-width: 768px) {
  .swContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.875rem;
    &__sw {
      width: 50%;
    }
  }
}

@media all and (min-width: 1200px) {
  .swContainer__sw {
    display: flex;
    flex-direction: column;
    padding: 1.375rem;
  }
}

/* fin fortalezas y debilidades */
