@import url(https://fonts.googleapis.com/css?family=Open+Sans:400, 600%7CRubik:500&display=swap);

@import "../core/variables.scss";
@import "../core/mixins.scss";

.strengthWeaknessSection {
  background-color: rgba(184, 184, 185, 0.2);
  /* height: 36.19rem; */
  margin-bottom: 0.9375rem;
  // padding: 0.9375rem 0rem 0.9375rem 0rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  .diamond {
    width: 1.875rem;
    height: 1.875rem;
    background: #ffffff;
    transform: rotate(45deg);
    justify-self: center;
    position: relative;
    bottom: 0.875rem;
    // left: 48%;
  }
}

.swContainer {
  //  display: flex;
  // flex-direction: column;
  //  align-items: center;
  @include centerColumn;
  // @media all and (min-width:768px) {
  //   flex-direction: row;
  //   justify-content: space-between;
  //   margin: 1.875rem;
  // }

  &__sw {
    // border: blue solid 2px;
    margin: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.9375rem;

    // @media all and (min-width:768px){
    // width: 50%;
    // }
    // @media all and (min-width:1200px){
    //   padding: 1.375rem;
    // }

    // .weakness{
    //   margin: 0px;
    //   width: 100%;
    //   display: flex;
    //   flex-direction: column;
    // }

    &__title {
      box-sizing: border-box;
      /* height: 2.813rem */
      margin: 0rem;
      text-align: center;
      // font-family: "Rubik";
      // font-weight: bold;
      // font-size: 1.375rem;
      @include smallTitle;
      line-height: 2.813rem;
      // color: $darkColorBase;
    }

    &__text {
      // margin-inline-start: 0.9375rem;
      // margin-inline-end: 0.9375rem;
      display: flex;
      text-align: center;
      @include text;
      // font-family: "Open Sans";
      // font-weight: normal;
      // font-size: 1rem;
      line-height: 1.5rem;
      // color: #54585a ;
    }
  }
}

@media all and (min-width: 768px) {
  .swContainer {
    // border: black solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.875rem;
    &__sw {
      width: 50%;
      // background: red;
    }
  }
}

@media all and (min-width: 1200px) {
  .swContainer__sw {
    display: flex;
    flex-direction: column;
    padding: 1.375rem;
  }
}

// @media all and (min-width:768px){
//   width: 50%;
// }

// .weakness, .strength{
//   width: 50%;
//   padding: 1.875rem;
// }
// }

/* fin fortalezas y debilidades */
