body {
  margin: 0px;

}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik&display=swap");

@import "../core/variables.scss";
@import "../core/_mixins.scss";

$darkColorBase: #099d8d;

.team {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;

  &__title {
    @include bigTitle;
  }

  &__article {
    @include text;
    font-family: 'Open Sans';
    line-height: 1.5;
    margin: 0.9375rem 0.9375rem 1.875rem 0.9375rem;
  }
}



@media all and (min-width: 768px) {




  .team__title {
    color: $darkColorBase;
    margin-top: 0rem;

  }

  .team__article {
    opacity: 0.67;
  }

}

@media all and (min-width: 1200px) {

  .team-container {
    margin: 0rem;
    padding: 45px 300px 0px;

  }

}