@import "../core/variables.scss";
@import "../core/mixins.scss";

$colorBase: #099d8d;


/* Empiezo a reescribir el SAAS */

.aboutus {
  @include centerColumn;
  width: 100%;
  



&__title {

  @include bigTitle;
  @include textCenterColumn;
  margin-bottom: 2.5rem;

}

}
.adalabers {
  @include centerColumn;
 width: 100%;
  



&__card{
  @include centerColumn;
  @include textCenterColumn;
  width: 100%;
  margin-bottom: 2.5rem;

}

}


.img__container {
  width:45%;
  height:45%;
  margin:0 auto;
  padding: 0rem;

  /*Preguntar por qué tengo que centrar con margin 0 auto y no con flex, que no me hace ni caso */

  
}

.adalabers__img {
  width: 100%;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);

}

.information__container {
  @include centerColumn;
  width: 85%;


}

.adalabers__name{
 @include adalabersName;
 text-align: center; 
}

.adalabers__text{
  @include text;
}

.aboutus__icons{
  margin-bottom: 2.5rem;

  &--list{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    padding: 0rem;

  }

  &--item{

  display: inline-block;
  list-style: none;
  padding-left: 1.5rem;
  
    
    & a{
      text-decoration: none;
      color: $colorBase;
    }
}
}

@media all and (min-width:768px) {

  .adalabers__card:nth-child(even) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    

    .adalabers__name{
      text-align: left;
    }

    .adalabers-text{
      text-align: left;
    }

    .aboutus__icons--list{
      text-align: left;
      
    }

    .aboutus__icons--item{
      padding-left: 0rem;
      padding-right: 1.5rem;
    }

    
  }

  .adalabers__card:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  
  
    .adalabers__name{
      text-align: right;
    }

    .adalabers__text{
      text-align: right;
    }

    .aboutus__icons--list{
      text-align: right;
    }
  }

  
   .img__container{

    width: 30%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: auto;

   }


   .adalabers__img{
     width: 100%;
   }

   .information__container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
   
  
   }



}

@media all and (min-width:1200px) {

  .aboutus{
    @include centerColumn;
 
  }

  .adalabers{
  
   width: 100%;
    
  
  .adalabers__card {

width: 60%;
align-self: center;
} 
  }

}