@import "../core/variables.scss";
@import "../core/mixins.scss";

* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;

  }


/* EL CONTAINER */
.container {
    /* border: red 1px solid; */
    margin: 0rem 0.9375rem;
  }
  
  /* EL ANCHOR SE ENCUENTRA SÓLO EN EL HEADER.CSS */
  .anchor-helper {
    display: block;
    position: relative;
    top: -105px;
    /* esto es lo que ocupa el menu en mobile */
    visibility: hidden;
  }

  @media all and (min-width:768px) {

    .anchor-helper {
        top: -60px;
        /* esto es lo que ocupa el menu en resoluciones distintas a móvil */
      }
    
      /* EL CONTAINER SE ENCUENTRA SÓLO EN EL HEADER.CSS */
      .container {
        /* border: red 1px solid; */
        margin: 0rem 2.813rem;

      }

    }

    @media all and (min-width:1200px) {

           /* EL CONTAINER SE ENCUENTRA SÓLO EN EL HEADER.CSS */
    .container {
        /* border: red 1px solid; */
        margin: 0rem 8.688rem;
      }
    }