@import "../core/variables.scss";
@import "../core/mixins.scss";

.footer {
  // border: green 2px solid;
  // width: 100vw;
  background-color: $headerFontColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  text-transform: $titleTransform;

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 40px 40px 40px;

  &__copy {
    font-size: $footerFontSize;
    line-height: $fontSizeAdalabersName;
    color: $fontFooter;
    margin: 0;
    padding-top: $footerTop;

          background: deeppink;
  }

  &__menu {
    font-size: $footerFontSize;
    font-weight: $boldFontWeight;
    padding-top: $fontSizeAdalabersName;


        background: deeppink; 

    &__ul {
      border: brown 3px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline-start: 0px;
      margin: 0;

        background: deeppink; 

    }

    &__li {
      display: inline;
    }
  }

  &__link__about__us,
  &__link__team,
  &__link__contact {
    opacity: 0.75;
    font-size: $footerFontSize;
    line-height: $fontSizeAdalabersName;
    color: $fontTextColor;
  }

  &__logo {
    border: green 2px solid;
    margin: 0;
    padding: 30px 0 45px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: deeppink; 

  }
}

.logo-adalab {
  height: 45px;
  width: 115.9px;
}

@media all and (min-width:768px) {
  .footer {
    margin: 0;
    border: green 2px solid;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 71px;

    &__copy {
      text-align: start;
    }

    &__menu {
      width: 324px;
      height: 90px;
      padding-top: 24px;

      &__ul {
        align-items: flex-end;
      }
    }

    &__logo {
      flex-direction: column;
      padding: 0px 100px 0px 0;
      transform: translate(-10px, -40px);

      // margin-left: 4.313rem;
    }
  }
}

@media all and (min-width:1200px) {
  .footer {
    &__copy {
      padding: 0 230px;
    }

    &__menu__ul {
      padding: 0 220px;
    }

    &__logo {
      justify-content: start;
      padding: 0 220px;
    }
  }
}

a:link {
  text-decoration: none
}

a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

a:active {
  text-decoration: none
}