
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600%7CRubik:500&display=swap);


.strength-weakness-section{
  background-color: rgba(184, 184, 185,0.2);
  /* height: 36.19rem; */
  margin-bottom: 0.9375rem;
  padding: 0.9375rem 0rem 0.9375rem 0rem;
  box-sizing: content-box;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-around;
}

.diamond{
  width: 1.875rem;
  height: 1.875rem;
  background: #ffffff;
  transform: rotate(45deg);
  justify-self: center;
  position: relative;
  bottom: 1.875rem;
  left: 48%;
}

.strength-weakness-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength{
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.weakness{
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
} 


.strength-weakness-title{
  box-sizing: border-box;
  /* height: 2.813rem */
  margin:0rem;
  text-align: center;
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 2.813rem;
  color: #099d8d;
}

.strength-weakness-text{
  margin-inline-start: 0.9375rem;
  margin-inline-end: 0.9375rem;
  
  display: flex;
  text-align: center;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #54585a ; 
}

@media all and (min-width:768px) {
 .strength-weakness-container{
   flex-direction: row; 
   justify-content: space-between;  
  }

  .weakness, .strength{
    width: 50%;
  }
}
 /* fin fortalezas y debilidades */