.footer {
  width: 100vw;
  background-color: #ffffff;
  display: block;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: OpenSans;
  margin-top: 0;
  bottom: 0;
}

.footer-copy {
  font-size: 0.875rem;
  display: block;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.25rem;
  color: #b8b8b9;
  text-align: center;
}

.footer-menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  font-size: 0.875rem;
}

.footer-menu-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  margin: 0;
}

.footer-menu-li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
}

.footer-link-about-us,.footer-link-team,.footer-link-contact {
  opacity: 0.75;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

.footer-logo {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-adalab {
  height: 45px;
  width: 115.9px;
  margin: 30px;
  font-weight: bold;
  display: block;
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

@media all and (min-width: 768px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer-copy {
    text-align: start;
    margin: 0;
    margin-left: 4.313rem;
  }

  .footer-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  .footer-menu-ul {
    margin-right: 2.688rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 56px;
  }

  .footer-logo {
    position: absolute;
    -webkit-transform: translateY(-111px);
    transform: translateY(-111px);
    margin-left: 4.313rem;
  }

  .logo-adalab {
    margin: 0;
  }
}

@media all and (min-width: 1200px) {
  .footer-copy {
    padding: 0 230px;
  }

  .footer-menu-ul {
    padding: 0 220px;
  }

  .footer-logo {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 0 220px;
  }
}

/*# sourceMappingURL=footer.css.map */
