
// about color
$darkColorBase: #099d8d;

// about fonts

$fontTextColor:#54585a;

$fontFamilyTitle: 'Rubik';
$fontFamilyText: 'OpenSans';

$fontSizeText: 1rem;
$fontSizeBigTitle: 1.5rem;
$fontSizeSmallTitle: 1.375rem;
$fontSizeAdalabersName: 1.25rem;

// about margins 

$mainMargin: 0.9375rem;
// (margen de 15px)



