$colorBase: #099d8d;
$fontTextColor:#54585a;
$fontFamilyTitle: 'Rubik';
$fontFamilyText: 'OpenSans';
$fontSizeText: 1rem;
$fontSizeBigTitle: 1.5rem;
$fontSizeSmallTitle: 1.375rem;
$fontSizeAdalabersName: 1.25rem;

