.footer {
  box-sizing: border-box;
  /* border: 1px solid red; */
  display: flex;
  bottom: 0;
  width: 100vw;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  /* margin: 0.9375rem; */
  font-family: OpenSans;
  /* height: 500px; */
}

.footer-copy {
  font-size: 0.875rem;
  align-content: center;
  line-height: 1.23rem;
  color: #b8b8b9;

}

.footer-menu {
  box-sizing: border-box;
  font-size: 0.875rem;
}

.footer-menu-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
  font-size: 0.875rem;


}

.footer-menu-li {
  position: relative;
  box-sizing: border-box;
  display: inline;
  /* font-family: 'OpenSans'; */
  font-size: 0.875rem;
  color: #b8b8b9;
}

.footer.link-about-us,
.footer.link-team,
.footer.link-contact {
  text-align: center;
  color: #54585a;

}

.footer-logo {
  font-size: 16px;
  padding: 1.5rem 0rem 2.813rem 0rem;
  margin: 0rem;
}

.logo-adalab {
  /* border: 2px solid seagreen; */
  height: 45px;
  width: 115.9px;
  font-weight: bold;
  display: block;
  text-align: center;
  /* padding: 1.5rem; */
}


a:link {
  text-decoration: none
}

a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

a:active {
  text-decoration: none
}
}