/**font-family: 'Rubik', sans-serif;
font-family: 'Open Sans', sans-serif;**/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap");

.footer {
  /* height: 500px; */
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid #141475; */
  flex-direction: column;
  align-items: center;
  margin: 0.9375rem;
}

.footer__copyright {
  font-size: 0.875rem;
}

.footer__menu {
  box-sizing: border-box;
  font-size: 0.875rem;
}

.footer__menu__ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0px;
s  font-size: 0.875rem;
  
  
}

.footer__menu__li {
  position: relative;
  box-sizing: border-box;
  display: inline;
  font-family: 'OpenSans';
  font-size: 0.875rem;
  
  
  
}
.footer__link__about__us,
.footer__link__team,
.footer__link__contact {
  text-align: center;
  color:#54585a;
}

.logo {
  box-sizing: border-box;
}

.logo__image{
  height: 45px;
  width: 115,9px;
  padding: 1.5rem;
}

a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover{text-decoration:none}
a:active{text-decoration:none}

